@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
}

.sound-background {
  position: fixed;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  height: 100%;
}

.sound-section {
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 20px;
  width: max-content;
}

.sound-title {
  max-width: 90vw;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
  padding: 0 10px;
  text-shadow:
    -1px -1px 0 #36454F,
    1px -1px 0 #36454F,
    -1px 1px 0 #36454F,
    1px 1px 0 #36454F;
}

.sound-list {
  list-style: none;
  display: grid;
  gap: 30px;
  justify-content: center;

  @media (min-width: 600px) {
    grid-template-columns: repeat(3, max-content);
  }
}

.sound-block {
  width: max-content;
  display: grid;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.sound-button {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-color: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;

  img {
    border-radius: 10px;
  }

  &:hover {
    transition: all 0.1s ease-out;
    opacity: 0.9;
  }
}

.volume-input {
  width: 150px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
